body {
  background-image: url("../img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.well {
  background-color: #D7F7D8;
  margin-top: 40px;
  width: 103%;
  margin-left: -18px;
  border-radius: 10px;
}

.row {
  padding-bottom: 20px;
}

.col-lg-6 {
  background-color: #efbc9e;
  padding-bottom: 20px;
}

.btn {
  margin-top: 10px;
}
